
.searchCompanies {
    background-image: url('https://www.pexels.com/photo/a-man-teaching-the-team-using-his-laptop-7988208/');
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    background-color: aquamarine;
}

.infoCard {
    background-color: rgb(56, 50, 110);
    background: linear-gradient(274deg, rgba(16,12,54,1) 0%, rgba(13,18,74,1) 46%, rgba(45, 26, 165,1) 100%);
}