@use "../customTheme" as *;

.sidebarLink {
  text-decoration: none;
  color: $custom-primary;

  &:active {
    border-right: 1.5rem solid $custom-primary;
  }
}
.sidebar:active {
  border-right: 1.5rem solid $custom-primary;
}
